<!DOCTYPE html>
<html>
  <head>
    <title>IP Adresleri</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      h1 {
        color: blue;
        font-size: 36px;
        text-align: center;
      }
      pre {
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 5px;
        font-size: 18px;
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <h1>IP Adresleri</h1>
    <p><a href="/ip">IP adresinizi görüntülemek için tıklayın</a></p>
    <pre>{{ ips }}</pre>
  </body>
</html>
